*{
  margin: 0;
  padding: 0; 
  font-family: 'Shojumaru', cursive;

}

body{
  // background-image: url(/images/black-Linen.png);
  margin: 0;
  padding: 0;
  max-width: 100vw;
  overflow-x: hidden; 
}

h1{
  margin: 0;
  padding: 0;
  text-align: center;
  margin-top: 50px;
  color: #fff;
}

#left-content{
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow-y: auto;
  position: fixed;
  background-color: #000;

  #profile{
    text-align: center;
  }

  .profile-img {
    margin-top: 50px;
    width: 170px;
    height: 180px;
    border: 10px double #62B370;
    border-radius: 50%;
  }

  h1 {
    font-size: 1.75em;
    color: #fff;
  }

  h2 {
    font-weight: 300;
    font-size: 1.3em;
    color: #62B370;
  }


  .facebook{
    width: 20px;
  }
}

#sidebar{
  margin-top: 70px;
  font-size: 20px;
  text-transform: uppercase;

  ul{
    border-bottom: 1px solid rgba(255,255,255,0.15);
  }

  li{
    border-top: 1px solid rgba(255, 255, 255, 0.15);
    line-height: 50px;
  }

  li a{
    color: white;
    padding-left: 55px;
    border-radius: 0px;
  }

  li a:hover{
    background-color: transparent;
  }

  li a:focus{
    background-color: transparent;
  }

  .active{
    border-left: 4px solid #61B26F;
    background-color: transparent;
  }

  li a span{
    padding-left: 10px;
    font-size: 0.9em;
  }
}


#right-content{
  float: right;
  // overflow-x:hidden;

  #about{
    min-height: 100vh;
    background:linear-gradient( rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.9) ),
    url(/images/about.jpg) no-repeat center center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 0;

    h2 {
      font-size: 6em;
      color: #61B26F;
      margin-top: 0;
    }

    p {
      padding: 50px 0 0 0;
      font-size: 1.5em;
      line-height: 2em;
      color: #fff;
      margin: 0 0;
      text-transform: lowercase;
    }
    
    .container-content{
      width:80%;
      margin: 0 auto;
      padding: 100px 0;
    } 

    .green{
      color:white;
      background-color: #61B26F;
    }
  } 

  

  #skills{
    min-height: 100vh;
    background-color: #fff;
    color: #666;
    // background: linear-gradient(rgba(0,0,0,0.9), rgba(0,0,0,0.9)), 
    //             url(/images/skills.jpg) no-repeat center center;
    // background-size: cover;
    // position: relative;
    
    
    .skill_logo{
      text-align: center;
      margin-top: 60px;
      color: #666;
      
      .sub_skill{
        margin-bottom: 30px;
        
        
        img{
          width: 160px;
          height: 180px;
        }
      }  
    }  
  }  


  #portfolio{
    min-height: 100vh;
    background-color: rgb(218,223,225);
    text-align: center;
    color: #666;
    // background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), 
    //             url(/images/portfolio.jpg) no-repeat center center;
    // background-size: cover;
    // position: relative;
    
    .portfolio_logo{
      padding: 50px 50px;

      #sub_portfolio{
        margin-bottom: 40px;

        #project-content{
          position: relative;
          width: 85%;
          margin: 0 auto;
          background-color: #fff;
          box-shadow: -2px 2px 10px 2px;
          // padding-bottom: 20px;

          img{
            width: 100%;
            max-height: 200px;
            padding-bottom: 20px;
          }
          p{
            padding: 10px;
            margin-bottom: 0;
            font-size: 0.9em;
            text-transform: lowercase;
          }
        }

        a{
          color: #666;
          text-decoration: none;

          .project_link{
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            transition: all 1s;

            span{
              font-size: 3em;
              top: 50%;
              transform: translateY(-50%);
              color: transparent;

            }

            &:hover{
              background-color: rgba(0, 0, 0, 0.75);
              span{
                color: #fff;
              }  
            }  
          }
        }  
      }  
    }
  }

  #contact{
    min-height: 100vh;
    background-color: #fff;
    color:#666;
    font-size: 1.5em;
    // background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), 
    //             url(/images/contact.jpg) no-repeat center center;
    // background-size: cover;
    // position: relative;
    

    form{
      margin-top: 100px;
      color: #666;

      input,textarea{
        width: 80%;
        background-color: transparent;
        border: 0;
        border-bottom: 2px solid #666;
        margin-bottom: 60px;
        margin-left: 30px;

        &:focus{
          // border: 2px solid #fff;
          outline: 0;
        }
      }
      button{
        margin-left: 60px;
        color: #222;
      }
    }
  }
}
